* {
  margin: 0;
  padding: 0;
}

body {
  background: #252525; 
  color: #eee;
}

nav {
  height: 50px;
  background: #333;
  top: 0;
  margin-bottom: 50px; 
}

nav h4 {
  color: #eee;
  float: left;
  padding: 8px 0; 
}

nav ul {
  list-style: none;
  float: right; 
}

nav ul li {
  float: left;
  padding: 12px 5px; 
}

nav ul li a {
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
  color: #eee; 
}

nav ul li a:hover {
  color: #bbb; 
}

.b {
  font-size: 26px; 
}

input[type=text] {
  color: #eee;
  background-color: #202020;
  border: solid 1px #999;
}

input[type=text]:hover, input[type=text]:focus {
  border: solid 1px #ddd;
}

input[type=submit], button {
  border: solid 1px #eee;
  background-color: #282828;
  color: #eee;
  width: 95px;
  padding: 0;
}

input[type=submit]:hover, button:hover {
  border: solid 1px #999;
  color: #999;
}

input[type=submit]:focus, button:focus {
  outline: none;
  color: #eee;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
